/* iPad mini - 1 */

@media (max-width: 768px) {

   .container {
      max-width: 768px;
      margin: 0 auto;
   }

   .header__top,
   .header__nav {
      padding-left: 30px;
   }
   
   .header__title {
      position: absolute;
      top: 48px;
      z-index: 1;
   }

   .header__title a {
      color: #6E788D;
   }

   .header__btn {
      line-height: 41px;
   }
   
   .header__list {
      position: fixed;
      background: #4B5464;
      padding: 90px 25px 15px 25px;
      display: block;
      right: 0;
      top: -100%;
      width: 100%;
      height: 100%;
      z-index: -1;
      text-align: center;
      transition: all 0.5s ease 0s;
      overflow: auto;
   }
   
   .header__list.active {
      top: 0;
   }

   .header__item {
      border-radius: 5px;
      border: 3px solid #86BC42;
      margin-top: 5px;
      background: #ddf7bf;
      box-shadow: 0 0 15px #6ea030;
   }

   .burger::after {
      content: url('../imgs/burgMenu.svg');
      position: absolute;
      right: 34px;
      top: 9px;
      z-index: 3;
   }

   .burger.active::after {
      content: url('../imgs/burgCross.svg');
      position: absolute;
      right: 34px;
      top: 9px;
      z-index: 3;
   }

   .registration {
      padding: 5% 0;
      margin: 76px 0 55px 0;
   }

   .registration__place {
      margin: 0 8%;
      padding: 2%;
      height: 400px;
      backdrop-filter: blur(3px);

   }

   .registration__title {
      font-weight: 700;
      font-size: 28px;
      margin: 2% 0 5% 0;
   }

   .registration__form {
      transform: scale(.8);
   }

   .registration__form_field:first-child {
      width: 190px;
   }

   .registration__benefits {
      transform: scale(.8);
   }
   

   .photos {
      padding: 0 30px;
   }

   .slider__item {
      max-width: 223px;
   }

   .slider__item img {
      width: 100%;
   }

   .slider .slick-arrow {
      top: 89.5%;
   }

   .slider .slick-arrow.slick-prev {
      left: 30%;
   }
   
   .slider .slick-arrow.slick-next {
      right: 30%;
   }

   .main {
      background: url('../imgs/services/plant.svg') 103% 860px no-repeat;
   }

   .services {
      padding: 0 56px 47px;
   }

   .services__row {
      display: block;
   }

   .services__text {
      margin: 47px 0;
   }

   .services__indicators {
      margin: 0 auto;
   }

   .tariffs {
      padding: 53px 30px;
   }

   .tariffs__place {
      padding: 21px 0;
   }

   .tariffs__left {
      transform: scale(.85);
      
   }
   
   .tariffs__right {
      transform: scale(.9);
   }

   .tariffs__right p {
      font-size: 14px;
   }

   .tariffs__content {
      margin: 0;
      max-height: 252px;
   }

   .news {
      padding: 0 94px;
   }
   
   .news-slider__item {
      grid-template-columns: 1fr;
      grid-template-areas:
      'first'
      'second'
      'third';
   }

   .news__subtitle {
      margin: 27px 83px 16px 0;
   }

   .news__slider::after {
      content: url('../imgs/news/line.svg');
      position: absolute;
      width: 94px;
      left: -94px;
      top: 0;
   }

   .news__image {
      margin: 0 auto 39px auto;
   }

   .news__text {
      margin: 0;
   }

   .news__ref {
      text-align: right;
      margin: 40px 43px 0 0;
   }

   .news__slider .slick-arrow {
      top: 97.4%;
   }

   .news::before {
      content: url('../imgs/newsAdoptPlant.svg');
      position: absolute;
      bottom: -46px;
      left: 0;
   }
   
   .footer__row {
      grid-template-columns: 1fr 1.4fr;
   }

   .footer__left {
      padding: 0 8px 0 37px;
      margin: auto 0;
   }

   .footer__right {
      padding: 24px 0 0 25px;
   }

   .novigation-footer__column:last-child {
      padding: 0;
      border-right: none;
   }
   .novigation-footer {
      padding: 0;
   }

   .contacts-footer {
      padding: 0;
      margin: 22px 0 29px;
   }

   .footer__right::before {
      content: url('../imgs/footerAdoptPlant.svg');
   }

   body.lock {
      overflow: hidden;
   }
 }

/* iPhone 11 Pro / X - 1 */

@media (max-width: 375px) {

   .container {
      max-width: 375px;
      margin: 0 auto;
   }

   .title {
      font-size: 16px;
      line-height: 20px;
      padding: 13px 10px 0;
   }

   .header__top,
   .header__nav {
      padding-left: 15px;
      max-height: 72px;
   }

   .header__row {
      display: flex;
   }

   .header__contacts {
      display: block;
   }

   .header__contacts a {
      display: block;
   }

   .header__phone {
      line-height: 37px;
   }

   .header__email {
      margin: 0;
      line-height: 33px;
   }

   .header__title {
      order: 3;
      position: static;
      margin-top: 7px;
   }

   .header__autorization {
      display: block;
   }

   .header__autorization a {
      display: block;
   }

   .header__btn {
      line-height: 37px;
  }

   .header__login {
      line-height: 35px;
      margin: 0 30px 0 30px;
      padding: 0 0 0 45px;
      text-align: right;
   }
   
  .header__login::before {
      left: 15px;
      top: 2px;
      height: 30px;
   }

   .header__list {
      padding: 121px 25px 15px 25px;
   }

   .registration {
      margin: 107px 0 40px 0;
      padding: 19px 15px;
   }

   .registration__place {
      height: 200px;
      margin: 0;
      backdrop-filter: blur(2px);
      padding: 10px 0 0 0;
   }

  .registration__title {
      font-size: 20px;
      line-height: 34px;
      margin: 0 0 4% 0;
   }

  .registration__title p:last-child {
      font-size: 15px;
      line-height: 15px;
   }

   .registration__form {
      height: 56px;
      padding: 11px;
   }

   .registration__form_wrap {
      line-height: 30px;
      justify-content: center;
   }

   .registration__form_field {
      margin: 0;
      height: 36px;
   }

   .registration__form_field:first-child {
      width: 130px;
      margin-right: 20px;
   }
   
   .registration__form_field:nth-child(2) {
      width: 170px;
   }

   .registration__form_btn {
      height: 58px;
      padding: 7px 28px;
      margin-top: 22px;
      border: 11px solid #fff;
   }

   .registration__benefits {
      display: none;
   }

   .photos {
      padding: 0 15px;
      margin-bottom: 39px;
   }

   .photos__text {
      font-size: 14px;
      line-height: 18px;
      max-width: 325px;
      margin: 0 auto 35px;
   }

   .photos__slider .slick-track {
      display: block;
   }

   .slider__item {
      max-width: 345px;
      margin: 12.5px 0;
   }

   .main {
      background: url('../imgs/services/plant.svg') 112% 1265px/124px 176px no-repeat;
}

   .services {
      padding: 0 15px;
      margin-bottom: 39px;
   }

   .services__text {
      font-size: 14px;
      line-height: 18px;
   }

   .services__indicators {
      padding: 30px 9px;
   }

   .services__providers p:nth-child(3) {
      margin-bottom: 0;
   }

   .tariffs {
      padding: 33px 15px;
      margin-bottom: 39px;
   }

   .tariffs__place {
      padding: 21px 31px;
  }

   .tariffs__content {
      margin: 20px 0 0 0;
      display: block;
      max-height: 552px;
   }

   .tariffs__left {
      transform: scale(1);
   }

   .tariffs__left p {
      font-size: 12px;
      line-height: 22px;
   }

   .tariffs__input {
      font-size: 12px;
      line-height: 49px;
      width: 261px;
      height: 36px;
      padding: 0 16px;
      margin: 6px 0 8px 0;
   }

   .tariffs-radio__item {
      font-size: 12px;
      line-height: 25px;
   }

   .tariffs-radio__label {
      margin: 0 22px 0 0;
   }
   
   .tariffs__right {
      transform: scale(1);
      padding: 11px 0 0 0;
   }

   .tariffs__right p {
      font-size: 12px;
      line-height: 25px;
   }

   .tariffs__right p:nth-child(3) {
      line-height: 16px;
      padding: 17px 0 12px 46px;
   }

   .tariffs__right p:nth-child(3)::before {
      top: 15px;
   }

   .tariffs__right p:last-child {
      font-size: 12px;
      line-height: 22px;
   }

   .tariffs-radio__input:checked + .tariffs-radio__label::after {
      top: 0;
   }

   .news {
      padding: 0 15px;
      margin-bottom: 39px;
   }

   .news__slider {
      margin: 30px 0 28px 0;
   }

   .news__slider::after {
      left: -75px;
      top: -20px;
   }

   .news__subtitle {
      font-size: 14px;
      line-height: 18px;
      margin: 0px 17px 16px 17px;
   }

   .news__image {
      width: 345px;
      margin-bottom: 22px;
   }

   .news__text {
      font-size: 14px;
      line-height: 18px;
   }

   .news__ref {
      margin: 22px 45px 0 0;
   }

   .news__slider .slick-list {
   margin: 0 0 25px 0;
   }

   .news__slider .slick-arrow {
      top: 96.6%;
   }

   .slider .slick-arrow.slick-prev {
      left: 8%;
   }

   .slider .slick-arrow.slick-next {
      right: 8%;
   }

   .news::before {
      content: url('../imgs/newsAdoptPlant2.svg');
      position: absolute;
      bottom: -90px;
      left: 0;
   }

   .footer__row {
      display: block;
   }
   
   .footer__left {
      padding: 0 34px 38px;
      text-align: center;
   }

   .footer__socialNetworks li a {
      line-height: 22px;
   }

   .footer__right {
      padding: 28px 15px 0;
   }

   .novigation-footer__column:first-child {
      margin: 0 21px 0 0;
   }
}